<div>
<div id="tagHTML">
<div class="tags" id="tags">
{% for tag in tags %}
<div class="none">
{{tag}}
<button type="button" class="close" aria-label="Close" onclick="remove(this)">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
</div>
</div>
<div id="photos">
{% for link in linkList %}
<div class="card">
<img data-src="holder.js/100px280/thumb" src="{{link}}" style="height: 280px; width: 100%; display: block;" data-holder-rendered="false">
</div>
{% endfor %}
</div>
</div>